* {
  font-size: 10px;
  /* border: 1px dotted gray; */
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}


.title {
  text-align: center;
  border: 1px solid black;
  padding: 20px 20% 0px 20%;
  font-size: 3rem;
  font-weight: 800;
  background-color: beige;
}

.survey {
  text-align: center;
  border: 1px solid black;
  padding: 20px;
}

.survey >* {
  display: block;
  font-size: 3rem;
}


.image {
  border: 1px solid black;
  width : 15rem;
  height : 10rem;
}

.first_container {
  display: flex;
  flex-direction: column;
}

.second_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.border {
  border: 1px solid black;
}


aside  > div {
  font-size: 3rem;
  width: 15rem;
  height: 50rem;
  background-color: beige;
}

.ul_style {
  list-style: none;
  padding-left: 0;
}

.ul_style > li {
  border: 1px solid black;
  margin-top: 1rem;
  font-size: 2rem;
}

.side_button {
  display: block;
  font-size: 2rem;
  padding-right: auto;
  background-color: antiquewhite;
}

a {
  text-decoration: none;
}

.foot {
  text-align: start;
}

/* --------------------- */


tr > td {
  width: 100px;
  text-align: center;
  font-size: 2rem;
}

.align_center {
  display: flex;
  justify-content: center;
}
