* {
    font-size: 10px;
    /* border: 1px dotted gray; */
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.title {
    text-align: center;
    border: 1px solid black;
    padding: 20px 20% 0px 20%;
    font-size: 3rem;
    font-weight: 800;
    background-color: beige;
    /* s */
}

.survey {
    text-align: center;
    border: 1px solid black;
    padding: 20px;
}

.survey >* {
    display: block;
    font-size: 3rem;
}


.image {
    border: 1px solid black;
    width : 15rem;
    height : 10rem;
}

.first_container {
    display: flex;
    flex-direction: column;
}

.second_container {
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.main {
    display: flex;
    justify-content: center;
}

form > div {
    font-size: 2rem;
}

form > div > label {
    font-size: 2rem;
}

.button_location {
    border: 0;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

form > div {
    margin: 2px;
    border: 1px solid black;
}
