* {
    font-size: 10px;
    border: 1px solid gray;
}

.flex {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.title {
    text-align: center;
    border: 1px solid black;
    padding: 20px 20% 0px 20%;
    font-size: 3rem;
}

.survey {
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    font-size: 3rem;
}


.image {
    border: 1px solid black;
    width : 10rem;
    height : 10rem;
}